body
{
    background-image: url("../slika.jpg");
}
.GlavniKontejner
{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    text-align: center;
}
.Dugme
{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    margin: 10px;
    padding: 20px;
}
.btn
{
    padding:10px;
    margin:10px;
}
h1
{
    display:flex;
    font-size:50px;
    color: white;
}
.BusKontejner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.formaBus
{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    margin: 10px;
    padding: 20px;
    background-color: red;
}
.busDugme {
    padding:10px;
    margin:10px;
}
.GlavniKontejnerKupiKartuPage 
{
    display:flex;
    flex-direction: column;
}
.prvaForma
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin: 10px;
    
}
.drugaForma 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin: 10px;
    
}
.trecaForma
{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: 10px;
    
}
.KupiKartuForma
{
    background-color:blue;
    height:100px;
    width : 100px;
}
.FormularZaKartu
{
    border: 10px solid black;
    margin: 10px;
    display:flex;
    flex-direction: column;
}
.FormularZaIzmenu
{
    border: 10px solid black;
    display:flex;
    flex-direction: column;
    margin: 10px;
}
.FormularZaBrisanje
{
    border: 10px solid black;
    display:flex;
    flex-direction: column;
    margin: 10px; 
}
.FormularZaAutobus
{
    display:flex;
    flex-direction: column;
    margin: 10px;
}
th,td{
    border: 2px solid black;
    color: black;
    background-color:white;
    margin: 10px;
    border-radius: 10px;
    font-size:16px;
}
.labelPrevoznik,.labelDestinacija,.labelDatum{
    color: white;
    margin-top: 10px;
}
.tabelaZaKarteDestinacija
{
    border: 10px solid black;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.divZaDugmice
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}
.selectDestinacija2,#prikaziKarteDugmeID
{
    width:200px;
}
.divZaTabelu
{
    display:flex;
    justify-content: center;
}
.autobusDiv{
    display:flex;
    align-self: center;
    flex-direction: column;
    background-color:red;
}
.busRed{
    display:flex;
    flex-direction:row;
    background-color:blue;
    margin:10px;
}
.kockica{
    height:20px;
    width:20px;
    margin:10px;
}
